.close{
  transform: translateX(-500px);
  transition: transform .5s;
}
.open{
  transform: translateX(0px);
  transition: transform .5s;
}
.content{
  background-color: #060016;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media(min-width: 750px){
  .Drawer{
    display: none;
  }
}