.Nav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  min-width: 300px
}

@media (max-width: 500px) {
  .Nav>ul{
    flex-direction: column;
  }
}